.about-text {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  
  .about-header {
    @extend .about-text;
    flex: 40%;
    justify-content: center;
  }
  
  .about-description {
    @extend .about-text;
    flex: 60%;
    width: 75%;
    text-align: left;
    line-height: 2em;
  }
}
