.home-text {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.home-header {
  @extend .home-text;
  flex: 40%;
  justify-content: center;
  font-size: 2em;
}

.home-description {
  @extend .home-text;
  flex: 60%;
}