.error-text {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  
  .error-header {
    @extend .error-text;
    flex: 40%;
    justify-content: center;
  }
  
  .error-description {
    @extend .error-text;
    flex: 60%;

    a {
      text-decoration: underline;
    }
  }
}
