.project-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  
  .project-header {
    @extend .project-container;
    flex: 5%;
    justify-content: flex-end;
    padding-bottom: 1em;
  }
  
  .project-cards {
    @extend .project-container;
    width: 90%;
    flex: 80%;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

