$NUMSTARS: 2000;

@function star-shadows($n) {
  $value: "#{random(2000)}px #{random(2000)}px";

  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px";
  }

  @return unquote($value);
}

@function star-delays($n) {
  $value: "#{random(100)}s";

  @for $i from 2 through $n {
    $value: "#{random(100)}s";
  }

  @return unquote($value);
}

.star-bg{
  background-color: $page-color;
  z-index: 1;
  
  #stars {
    color: #FFFAC7;
    width: 1px;
    height: 1px;
    position: absolute;
    border-radius: 75%;
    background: transparent;
    box-shadow: star-shadows($NUMSTARS);
    animation: fade 10s linear infinite;
    // animation-delay: star-delays($NUMSTARS);
    opacity: 0;
  }
  
  @keyframes fade {
    0% {
        opacity: 0
    }
    10% {
        opacity: 1
    }
    
    50% {
        opacity: 1
    }
    
    60% {
        opacity: 0
    }
    
    100% {
        opacity: 0
    }
  }
}
