.navs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $nav-color;
  padding-bottom: 3em;
  z-index: 2;
  
  ul {
    width: 100%;
  }
  
  a {
    text-decoration: none;
    display: block;
    padding: 2em;
    
    &:visited {
      color: $font-color;
    }
  }
}

.active{
  background-color: $page-color;
}
