.navs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 20%;
  background-color: $nav-color;

  li {
    padding: 1em;
  }

  a {
    text-decoration: none;

    &:visited {
      color: $font-color;
    }
  }
}
